In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('india_housing_prices.csv')
pd.set_option('display.max_columns', None)

df.head()

,ID,State,City,Locality,Property_Type,BHK,Size_in_SqFt,Price_in_Lakhs,Price_per_SqFt,Year_Built,Furnished_Status,Floor_No,Total_Floors,Age_of_Property,Nearby_Schools,Nearby_Hospitals,Public_Transport_Accessibility,Parking_Space,Security,Amenities,Facing,Owner_Type,Availability_Status
0,1,Tamil Nadu,Chennai,Locality_84,Apartment,1,4740,489.76,0.10,1990,Furnished,22,1,35,10,3,High,No,No,"Playground, Gym, Garden, Pool, Clubhouse",West,Owner,Ready_to_Move
1,2,Maharashtra,Pune,Locality_490,Independent House,3,2364,195.52,0.08,2008,Unfurnished,21,20,17,8,1,Low,No,Yes,"Playground, Clubhouse, Pool, Gym, Garden",North,Builder,Under_Construction
2,3,Punjab,Ludhiana,Locality_167,Apartment,2,3642,183.79,0.05,1997,Semi-furnished,19,27,28,9,8,Low,Yes,No,"Clubhouse, Pool, Playground, Gym",South,Broker,Ready_to_Move
3,4,Rajasthan,Jodhpur,Locality_393,Independent House,2,2741,300.29,0.11,1991,Furnished,21,26,34,5,7,High,Yes,Yes,"Playground, Clubhouse, Gym, Pool, Garden",North,Builder,Ready_to_Move
4,5,Rajasthan,Jaipur,Locality_466,Villa,4,4823,182.90,0.04,2002,Semi-furnished,3,2,23,4,9,Low,No,Yes,"Playground, Garden, Gym, Pool, Clubhouse",East,Builder,Ready_to_Move

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250000 entries, 0 to 249999
Data columns (total 23 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   ID                              250000 non-null  int64
 1   State                           250000 non-null  object
 2   City                            250000 non-null  object
 3   Locality                        250000 non-null  object
 4   Property_Type                   250000 non-null  object
 5   BHK                             250000 non-null  int64
 6   Size_in_SqFt                    250000 non-null  int64
 7   Price_in_Lakhs                  250000 non-null  float64
 8   Price_per_SqFt                  250000 non-null  float64
 9   Year_Built                      250000 non-null  int64
 10  Furnished_Status                250000 non-null  object
 11  Floor_No                        250000 non-null  int64
 12  Total_Floors                    250000 non-null  int64
 13  Age_of_Property                 250000 non-null  int64
 14  Nearby_Schools                  250000 non-null  int64
 15  Nearby_Hospitals                250000 non-null  int64
 16  Public_Transport_Accessibility  250000 non-null  object
 17  Parking_Space                   250000 non-null  object
 18  Security                        250000 non-null  object
 19  Amenities                       250000 non-null  object
 20  Facing                          250000 non-null  object
 21  Owner_Type                      250000 non-null  object
 22  Availability_Status             250000 non-null  object
dtypes: float64(2), int64(9), object(12)
memory usage: 43.9+ MB

There are no missing values. 11 categorical variables to treat

In [4]:
for col in df.select_dtypes(include = 'object').columns:
      print(f"unique values in {col} is {df[col].nunique()}")

unique values in State is 20
unique values in City is 42
unique values in Locality is 500
unique values in Property_Type is 3
unique values in Furnished_Status is 3
unique values in Public_Transport_Accessibility is 3
unique values in Parking_Space is 2
unique values in Security is 2
unique values in Amenities is 325
unique values in Facing is 4
unique values in Owner_Type is 3
unique values in Availability_Status is 2

In [5]:
df.shape

(250000, 23)

In [6]:
df.drop_duplicates(inplace = True)

In [7]:
df.shape

(250000, 23)

In [8]:
local_avg_price = df.groupby('Locality')['Price_in_Lakhs'].mean()
print(local_avg_price)
df['local_avg_price'] = df['Locality'].map(local_avg_price)
df.drop('Locality', axis = 1, inplace = True)

Locality
Locality_1      259.106765
Locality_10     252.026784
Locality_100    254.670586
Locality_101    249.904669
Locality_102    255.008911
                   ...
Locality_95     248.029503
Locality_96     264.880821
Locality_97     261.961303
Locality_98     240.377339
Locality_99     264.934748
Name: Price_in_Lakhs, Length: 500, dtype: float64

In [9]:
df['Price_in_Lakhs'].describe()

count    250000.000000
mean        254.586854
std         141.349921
min          10.000000
25%         132.550000
50%         253.870000
75%         376.880000
max         500.000000
Name: Price_in_Lakhs, dtype: float64

In [10]:
df['price_per_sqft'] = (df.Price_in_Lakhs * 100000)//df.Size_in_SqFt
df.drop('Price_per_SqFt',  axis = 1, inplace = True)
df.head()

,ID,State,City,Property_Type,BHK,Size_in_SqFt,Price_in_Lakhs,Year_Built,Furnished_Status,Floor_No,Total_Floors,Age_of_Property,Nearby_Schools,Nearby_Hospitals,Public_Transport_Accessibility,Parking_Space,Security,Amenities,Facing,Owner_Type,Availability_Status,local_avg_price,price_per_sqft
0,1,Tamil Nadu,Chennai,Apartment,1,4740,489.76,1990,Furnished,22,1,35,10,3,High,No,No,"Playground, Gym, Garden, Pool, Clubhouse",West,Owner,Ready_to_Move,249.922603,10332.0
1,2,Maharashtra,Pune,Independent House,3,2364,195.52,2008,Unfurnished,21,20,17,8,1,Low,No,Yes,"Playground, Clubhouse, Pool, Gym, Garden",North,Builder,Under_Construction,255.812427,8270.0
2,3,Punjab,Ludhiana,Apartment,2,3642,183.79,1997,Semi-furnished,19,27,28,9,8,Low,Yes,No,"Clubhouse, Pool, Playground, Gym",South,Broker,Ready_to_Move,261.452275,5046.0
3,4,Rajasthan,Jodhpur,Independent House,2,2741,300.29,1991,Furnished,21,26,34,5,7,High,Yes,Yes,"Playground, Clubhouse, Gym, Pool, Garden",North,Builder,Ready_to_Move,241.178677,10955.0
4,5,Rajasthan,Jaipur,Villa,4,4823,182.90,2002,Semi-furnished,3,2,23,4,9,Low,No,Yes,"Playground, Garden, Gym, Pool, Clubhouse",East,Builder,Ready_to_Move,247.816855,3792.0

In [11]:
df['price_per_sqft'].median()

9244.0

In [12]:
df['Age_of_property'] = 2025 - df['Year_Built']
df.drop('Year_Built', axis = 1, inplace = True)
df.head()

,ID,State,City,Property_Type,BHK,Size_in_SqFt,Price_in_Lakhs,Furnished_Status,Floor_No,Total_Floors,Age_of_Property,Nearby_Schools,Nearby_Hospitals,Public_Transport_Accessibility,Parking_Space,Security,Amenities,Facing,Owner_Type,Availability_Status,local_avg_price,price_per_sqft,Age_of_property
0,1,Tamil Nadu,Chennai,Apartment,1,4740,489.76,Furnished,22,1,35,10,3,High,No,No,"Playground, Gym, Garden, Pool, Clubhouse",West,Owner,Ready_to_Move,249.922603,10332.0,35
1,2,Maharashtra,Pune,Independent House,3,2364,195.52,Unfurnished,21,20,17,8,1,Low,No,Yes,"Playground, Clubhouse, Pool, Gym, Garden",North,Builder,Under_Construction,255.812427,8270.0,17
2,3,Punjab,Ludhiana,Apartment,2,3642,183.79,Semi-furnished,19,27,28,9,8,Low,Yes,No,"Clubhouse, Pool, Playground, Gym",South,Broker,Ready_to_Move,261.452275,5046.0,28
3,4,Rajasthan,Jodhpur,Independent House,2,2741,300.29,Furnished,21,26,34,5,7,High,Yes,Yes,"Playground, Clubhouse, Gym, Pool, Garden",North,Builder,Ready_to_Move,241.178677,10955.0,34
4,5,Rajasthan,Jaipur,Villa,4,4823,182.90,Semi-furnished,3,2,23,4,9,Low,No,Yes,"Playground, Garden, Gym, Pool, Clubhouse",East,Builder,Ready_to_Move,247.816855,3792.0,23

In [13]:
df['amenity_count'] = df['Amenities'].apply(lambda x :len(str(x).split(',')))
df['amenity_count'].describe()

count    250000.000000
mean          3.000288
std           1.414284
min           1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000
Name: amenity_count, dtype: float64

In [14]:
df.drop(['ID','Amenities'], axis = 1, inplace =True)
df.head()

,State,City,Property_Type,BHK,Size_in_SqFt,Price_in_Lakhs,Furnished_Status,Floor_No,Total_Floors,Age_of_Property,Nearby_Schools,Nearby_Hospitals,Public_Transport_Accessibility,Parking_Space,Security,Facing,Owner_Type,Availability_Status,local_avg_price,price_per_sqft,Age_of_property,amenity_count
0,Tamil Nadu,Chennai,Apartment,1,4740,489.76,Furnished,22,1,35,10,3,High,No,No,West,Owner,Ready_to_Move,249.922603,10332.0,35,5
1,Maharashtra,Pune,Independent House,3,2364,195.52,Unfurnished,21,20,17,8,1,Low,No,Yes,North,Builder,Under_Construction,255.812427,8270.0,17,5
2,Punjab,Ludhiana,Apartment,2,3642,183.79,Semi-furnished,19,27,28,9,8,Low,Yes,No,South,Broker,Ready_to_Move,261.452275,5046.0,28,4
3,Rajasthan,Jodhpur,Independent House,2,2741,300.29,Furnished,21,26,34,5,7,High,Yes,Yes,North,Builder,Ready_to_Move,241.178677,10955.0,34,5
4,Rajasthan,Jaipur,Villa,4,4823,182.90,Semi-furnished,3,2,23,4,9,Low,No,Yes,East,Builder,Ready_to_Move,247.816855,3792.0,23,5

In [15]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

for column in df.select_dtypes(include = 'object'):
    df[column] = le.fit_transform(df[column])
df.head()

,State,City,Property_Type,BHK,Size_in_SqFt,Price_in_Lakhs,Furnished_Status,Floor_No,Total_Floors,Age_of_Property,Nearby_Schools,Nearby_Hospitals,Public_Transport_Accessibility,Parking_Space,Security,Facing,Owner_Type,Availability_Status,local_avg_price,price_per_sqft,Age_of_property,amenity_count
0,15,6,0,1,4740,489.76,0,22,1,35,10,3,0,0,0,3,2,0,249.922603,10332.0,35,5
1,11,33,1,3,2364,195.52,2,21,20,17,8,1,1,0,1,1,1,1,255.812427,8270.0,17,5
2,13,25,0,2,3642,183.79,1,19,27,28,9,8,1,1,0,2,0,0,261.452275,5046.0,28,4
3,14,21,1,2,2741,300.29,0,21,26,34,5,7,0,1,1,1,1,0,241.178677,10955.0,34,5
4,14,19,2,4,4823,182.90,1,3,2,23,4,9,1,0,1,0,1,0,247.816855,3792.0,23,5

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250000 entries, 0 to 249999
Data columns (total 22 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   State                           250000 non-null  int32
 1   City                            250000 non-null  int32
 2   Property_Type                   250000 non-null  int32
 3   BHK                             250000 non-null  int64
 4   Size_in_SqFt                    250000 non-null  int64
 5   Price_in_Lakhs                  250000 non-null  float64
 6   Furnished_Status                250000 non-null  int32
 7   Floor_No                        250000 non-null  int64
 8   Total_Floors                    250000 non-null  int64
 9   Age_of_Property                 250000 non-null  int64
 10  Nearby_Schools                  250000 non-null  int64
 11  Nearby_Hospitals                250000 non-null  int64
 12  Public_Transport_Accessibility  250000 non-null  int32
 13  Parking_Space                   250000 non-null  int32
 14  Security                        250000 non-null  int32
 15  Facing                          250000 non-null  int32
 16  Owner_Type                      250000 non-null  int32
 17  Availability_Status             250000 non-null  int32
 18  local_avg_price                 250000 non-null  float64
 19  price_per_sqft                  250000 non-null  float64
 20  Age_of_property                 250000 non-null  int64
 21  amenity_count                   250000 non-null  int64
dtypes: float64(3), int32(10), int64(9)
memory usage: 32.4 MB

In [17]:
#calculating score for deciding whether it is a good investment
good_invest_df = pd.DataFrame()

In [18]:
cols_leq_median = ['Price_in_Lakhs','Age_of_Property','price_per_sqft']

for col in cols_leq_median:
    good_invest_df[f'good_{col}'] = (df[col] <= df[col].median()).astype(int)

good_invest_df['good_amenities'] = (df['amenity_count'] >= df['amenity_count'].median()).astype(int)
good_invest_df['good_local_price'] = (df['Price_in_Lakhs'] <= df['local_avg_price']).astype(int)
good_invest_df['good_bhk'] = (df['BHK'] >= 3).astype(int)

In [19]:
good_invest_df.columns

Index(['good_Price_in_Lakhs', 'good_Age_of_Property', 'good_price_per_sqft',
       'good_amenities', 'good_local_price', 'good_bhk'],
      dtype='object')

In [20]:
good_invest_df['score'] = good_invest_df.sum(axis=1)

In [21]:
good_invest_df.describe()

,good_Price_in_Lakhs,good_Age_of_Property,good_price_per_sqft,good_amenities,good_local_price,good_bhk,score
count,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000
mean,0.500004,0.500272,0.500024,0.600352,0.501504,0.599956,3.202112
std,0.500001,0.500001,0.500001,0.489827,0.499999,0.489908,1.594844
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
50%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,6.000000

In [22]:
df['good_investment'] = (good_invest_df['score']>3).astype(int)

In [23]:
df.describe()

,State,City,Property_Type,BHK,Size_in_SqFt,Price_in_Lakhs,Furnished_Status,Floor_No,Total_Floors,Age_of_Property,Nearby_Schools,Nearby_Hospitals,Public_Transport_Accessibility,Parking_Space,Security,Facing,Owner_Type,Availability_Status,local_avg_price,price_per_sqft,Age_of_property,amenity_count,good_investment
count,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000,250000.000000
mean,9.516524,20.284840,1.003152,2.999396,2749.813216,254.586854,1.000760,14.966800,15.503004,18.479988,5.499860,5.498016,0.997212,0.498176,0.500932,1.502328,0.999156,0.500140,254.586854,13057.783452,18.479988,3.000288,0.445256
std,5.767697,12.193286,0.816574,1.415521,1300.606954,141.349921,0.816398,8.948047,8.671618,9.808575,2.878639,2.871860,0.816607,0.499998,0.500000,1.118127,0.816695,0.500001,6.385749,13071.850330,9.808575,1.414284,0.496995
min,0.000000,0.000000,0.000000,1.000000,500.000000,10.000000,0.000000,0.000000,1.000000,2.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,232.765813,202.000000,2.000000,1.000000,0.000000
25%,5.000000,10.000000,0.000000,2.000000,1623.000000,132.550000,0.000000,7.000000,8.000000,10.000000,3.000000,3.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,249.913247,4802.000000,10.000000,2.000000,0.000000
50%,10.000000,20.000000,1.000000,3.000000,2747.000000,253.870000,1.000000,15.000000,15.000000,18.000000,5.000000,5.000000,1.000000,0.000000,1.000000,2.000000,1.000000,1.000000,254.763964,9244.000000,18.000000,3.000000,0.000000
75%,15.000000,31.000000,2.000000,4.000000,3874.000000,376.880000,2.000000,23.000000,23.000000,27.000000,8.000000,8.000000,2.000000,1.000000,1.000000,3.000000,2.000000,1.000000,258.803798,15987.000000,27.000000,4.000000,1.000000
max,19.000000,41.000000,2.000000,5.000000,5000.000000,500.000000,2.000000,30.000000,30.000000,35.000000,10.000000,10.000000,2.000000,1.000000,1.000000,3.000000,2.000000,1.000000,275.425987,99182.000000,35.000000,5.000000,1.000000

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250000 entries, 0 to 249999
Data columns (total 23 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   State                           250000 non-null  int32
 1   City                            250000 non-null  int32
 2   Property_Type                   250000 non-null  int32
 3   BHK                             250000 non-null  int64
 4   Size_in_SqFt                    250000 non-null  int64
 5   Price_in_Lakhs                  250000 non-null  float64
 6   Furnished_Status                250000 non-null  int32
 7   Floor_No                        250000 non-null  int64
 8   Total_Floors                    250000 non-null  int64
 9   Age_of_Property                 250000 non-null  int64
 10  Nearby_Schools                  250000 non-null  int64
 11  Nearby_Hospitals                250000 non-null  int64
 12  Public_Transport_Accessibility  250000 non-null  int32
 13  Parking_Space                   250000 non-null  int32
 14  Security                        250000 non-null  int32
 15  Facing                          250000 non-null  int32
 16  Owner_Type                      250000 non-null  int32
 17  Availability_Status             250000 non-null  int32
 18  local_avg_price                 250000 non-null  float64
 19  price_per_sqft                  250000 non-null  float64
 20  Age_of_property                 250000 non-null  int64
 21  amenity_count                   250000 non-null  int64
 22  good_investment                 250000 non-null  int32
dtypes: float64(3), int32(11), int64(9)
memory usage: 33.4 MB

In [25]:
# calculating rate to predict future price from domain knowledge
def calculate_score(row):
    score = 0
    #price_per_sqft
    if row['price_per_sqft'] < 3000:
        score += 0
    elif 3000 <= row['price_per_sqft'] < 12000:
        score += 1
    else:
        score += 2

    #Age_of_Property 
    age = row['Age_of_Property']
    if age > 20:
        score += 0
    elif 10 <= age <= 20:
        score += 1
    else:
        score += 2

    #Nearby_Schools
    schools = row['Nearby_Schools']
    if schools == 0:
        score += 0
    elif 1 <= schools <= 3:
        score += 1
    else:
        score += 2

    #Nearby_Hospitals
    hospitals = row['Nearby_Hospitals']
    if hospitals == 0:
        score += 0
    elif 1 <= hospitals <= 3:
        score += 1
    else:
        score += 2

    #Size_in_SqFt
    sqft = row['Size_in_SqFt']
    if sqft < 800:
        score += 0
    elif 800 <= sqft <= 2500:
        score += 1
    else:
        score += 2

    #BHK
    bhk = row['BHK']
    if bhk <= 1:
        score += 0
    elif bhk == 2:
        score += 1
    else:
        score += 2

    #Amenity Count
    amenities = row['amenity_count']
    if amenities < 3:
        score += 0
    elif 3 <= amenities <= 5:
        score += 1
    else:
        score += 2

    #good_investment flag
    if row['good_investment'] == 1:
        score += 2

    return score


# -------------------------
# Apply score & compute rate
# -------------------------

df['score'] = df.apply(calculate_score, axis=1)

# Convert score  annual rate (4% to 12%)
df['annual_rate'] = 0.04 + (df['score'] / 16) * 0.08

# Future price after 5 years
df['future_price_5yr'] = df['Price_in_Lakhs'] * (1 + df['annual_rate'])**5

In [26]:
df.head()

,State,City,Property_Type,BHK,Size_in_SqFt,Price_in_Lakhs,Furnished_Status,Floor_No,Total_Floors,Age_of_Property,Nearby_Schools,Nearby_Hospitals,Public_Transport_Accessibility,Parking_Space,Security,Facing,Owner_Type,Availability_Status,local_avg_price,price_per_sqft,Age_of_property,amenity_count,good_investment,score,annual_rate,future_price_5yr
0,15,6,0,1,4740,489.76,0,22,1,35,10,3,0,0,0,3,2,0,249.922603,10332.0,35,5,0,7,0.075,703.113819
1,11,33,1,3,2364,195.52,2,21,20,17,8,1,1,0,1,1,1,1,255.812427,8270.0,17,5,1,11,0.095,307.795159
2,13,25,0,2,3642,183.79,1,19,27,28,9,8,1,1,0,2,0,0,261.452275,5046.0,28,4,1,11,0.095,289.329338
3,14,21,1,2,2741,300.29,0,21,26,34,5,7,0,1,1,1,1,0,241.178677,10955.0,34,5,0,9,0.085,451.533067
4,14,19,2,4,4823,182.90,1,3,2,23,4,9,1,0,1,0,1,0,247.816855,3792.0,23,5,1,12,0.100,294.562279

In [27]:
df.to_csv("cleaned_housing_data.csv", index=False)

In [1]:
import pandas as pd
import numpy as np

# Models
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from xgboost import XGBClassifier, XGBRegressor

# ML metrics
from sklearn.metrics import (
    accuracy_score, precision_score, recall_score, roc_auc_score,
    mean_squared_error, mean_absolute_error, r2_score
)

from sklearn.model_selection import train_test_split

# MLflow
import mlflow
import mlflow.sklearn
import mlflow.xgboost
import xgboost as xgb

C:\Users\Harshith Raj\anaconda3\envs\mlenv\lib\site-packages\mlflow\utils\requirements_utils.py:20: UserWarning: pkg_resources is deprecated as an API. See https://setuptools.pypa.io/en/latest/pkg_resources.html. The pkg_resources package is slated for removal as early as 2025-11-30. Refrain from using this package or pin to Setuptools<81.
  import pkg_resources  # noqa: TID251
C:\Users\Harshith Raj\anaconda3\envs\mlenv\lib\site-packages\pydantic\_internal\_config.py:383: UserWarning: Valid config keys have changed in V2:
* 'schema_extra' has been renamed to 'json_schema_extra'
  warnings.warn(message, UserWarning)

In [2]:
df = pd.read_csv("cleaned_housing_data.csv")
df.head()

,State,City,Property_Type,BHK,Size_in_SqFt,Price_in_Lakhs,Furnished_Status,Floor_No,Total_Floors,Age_of_Property,...,Owner_Type,Availability_Status,local_avg_price,price_per_sqft,Age_of_property,amenity_count,good_investment,score,annual_rate,future_price_5yr
0,15,6,0,1,4740,489.76,0,22,1,35,...,2,0,249.922603,10332.0,35,5,0,7,0.075,703.113819
1,11,33,1,3,2364,195.52,2,21,20,17,...,1,1,255.812427,8270.0,17,5,1,11,0.095,307.795159
2,13,25,0,2,3642,183.79,1,19,27,28,...,0,0,261.452275,5046.0,28,4,1,11,0.095,289.329338
3,14,21,1,2,2741,300.29,0,21,26,34,...,1,0,241.178677,10955.0,34,5,0,9,0.085,451.533067
4,14,19,2,4,4823,182.90,1,3,2,23,...,1,0,247.816855,3792.0,23,5,1,12,0.100,294.562279

In [3]:
df = pd.read_csv("cleaned_housing_data.csv")

# Classification target
y_clf = df["good_investment"]
X_clf = df.drop(columns=["good_investment", "future_price_5yr"])

# Regression targetb
y_reg = df["future_price_5yr"]
X_reg = df.drop(columns=["good_investment", "future_price_5yr"])

# Train-test split
Xc_train, Xc_test, yc_train, yc_test = train_test_split(X_clf, y_clf, test_size=0.2, random_state=42)
Xr_train, Xr_test, yr_train, yr_test = train_test_split(X_reg, y_reg, test_size=0.2, random_state=42)

In [4]:
def evaluate_classification(model, X_test, y_test):
    preds = model.predict(X_test)
    prob = model.predict_proba(X_test)[:, 1] if hasattr(model, "predict_proba") else None
    
    metrics = {
        "accuracy": accuracy_score(y_test, preds),
        "precision": precision_score(y_test, preds),
        "recall": recall_score(y_test, preds),
        "roc_auc": roc_auc_score(y_test, prob) if prob is not None else None
    }
    return metrics

In [6]:
def evaluate_regression(model, X_test, y_test):
    preds = model.predict(X_test)
    mse = mean_squared_error(y_test,preds)
    rmse = np.sqrt(mse)
    metrics = {
        "rmse": rmse,
        "mae": mean_absolute_error(y_test, preds),
        "r2": r2_score(y_test, preds)
    }
    return metrics

In [7]:
mlflow.set_tracking_uri("file:///C:/Users/Harshith Raj/mlruns")

In [ ]:
mlflow.set_experiment("Good_Investment_Classification")

classifiers = {
    "LogisticRegression": LogisticRegression(max_iter=1000),
    "RandomForestClassifier": RandomForestClassifier(n_estimators=200, max_depth=8),
    "XGBClassifier": XGBClassifier(
        n_estimators=300, max_depth=5, learning_rate=0.1, subsample=0.8
    )
}

for model_name, model in classifiers.items():
    with mlflow.start_run(run_name=model_name):
        
        # Train
        model.fit(Xc_train, yc_train)
        
        # Evaluate
        metrics = evaluate_classification(model, Xc_test, yc_test)
        
        # Log params (only hyperparameters)
        if hasattr(model, "get_params"):
            mlflow.log_params(model.get_params())
        
        # Log metrics
        mlflow.log_metrics(metrics)
        
        # Log model
        if "XGB" in model_name:
            mlflow.xgboost.log_model(model, "model")
        else:
            mlflow.sklearn.log_model(model, "model")
        
        print(f"{model_name} Metrics:", metrics)

2025/12/04 04:17:52 WARNING mlflow.utils.git_utils: Failed to import Git (the Git executable is probably not on your PATH), so Git SHA is not available. Error: Failed to initialize: Bad git executable.
The git executable must be specified in one of the following ways:
    - be included in your $PATH
    - be set via $GIT_PYTHON_GIT_EXECUTABLE
    - explicitly set via git.refresh(<full-path-to-git-executable>)

All git commands will error until this is rectified.

This initial message can be silenced or aggravated in the future by setting the
$GIT_PYTHON_REFRESH environment variable. Use one of the following values:
    - quiet|q|silence|s|silent|none|n|0: for no message or exception
    - warn|w|warning|log|l|1: for a warning message (logging level CRITICAL, displayed by default)
    - error|e|exception|raise|r|2: for a raised exception

Example:
    export GIT_PYTHON_REFRESH=quiet

C:\Users\Harshith Raj\anaconda3\envs\mlenv\lib\site-packages\sklearn\linear_model\_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 1000 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=1000).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression Metrics: {'accuracy': 0.98098, 'precision': 0.9797233785416947, 'recall': 0.9777539533637095, 'roc_auc': 0.9984860288660764}

In [ ]:
mlflow.set_experiment("Future_Price_Regression")

regressors = {
    "LinearRegression": LinearRegression(),
    "RandomForestRegressor": RandomForestRegressor(n_estimators=200, max_depth=8),
    "XGBRegressor": XGBRegressor(
        n_estimators=300, max_depth=5, learning_rate=0.1, subsample=0.8
    )
}

for model_name, model in regressors.items():
    with mlflow.start_run(run_name=model_name):
        
        # Train
        model.fit(Xr_train, yr_train)
        
        # Evaluate
        metrics = evaluate_regression(model, Xr_test, yr_test)
        
        # Log params
        if hasattr(model, "get_params"):
            mlflow.log_params(model.get_params())
        
        # Log metrics
        mlflow.log_metrics(metrics)
        
        # Log model
        if "XGB" in model_name:
            mlflow.xgboost.log_model(model, "model")
        else:
            mlflow.sklearn.log_model(model, "model")
        
        print(f"{model_name} Metrics:", metrics)